@import "../../../../static/root";

.detail-wrapper{
    min-height: 82vh;

    text-decoration: none;
    .back-button{
        margin-top: 2rem;
        @include button(black, transparent, transparent);
        padding: 0 2rem;
        .image-button{
            width: 30px;
            height: 30px;
        }
    }

    .detail-container{
        padding: 0 10rem;
        display: block;
        justify-content: center;
        margin-bottom: 2rem;
        border-radius: 1rem;
        width: 100%;
        @include xs{
            padding: 1.5rem;
        }
        @include sm{
            padding: 0 6rem;
        }
        @include md{
            padding: 0 8rem;
        }
        @include xl{
            display: grid;
            grid-template-columns: 40% 60%;
            margin: 2rem 10rem;
            width: 80%;
            box-shadow: 4px 4px 4px 4px rgba(0,0,0,.2);
            padding: 0;
        }
        .detail-image{
            align-self: center;
            .image{
                object-fit: cover;
                width: 100%;
                border-radius: 1rem 0rem 0rem 1rem;
            }
        }
        .detail-description{
            .detail-header{
                .name{
                    text-align: center;
                    padding: 2rem 0;
                    background-color: #eae0d5;
                    border-bottom: 1px solid #eae0d5;
                    font-size: 1.5rem;
                }
            }
            .detail-body{
                padding: 1rem 1.5rem;
                min-height: 46vh;
                .option-container{
                    .option-title{
                        font-size: 1.4rem;
                        border-bottom: 1px solid black;
                        margin-top: 0.5rem;
                    }
                }

               
            }
            .detail-footer{
                //margin-left: 1.5rem;
                //margin-bottom: 1rem;        
                .stock-container{
                    //margin-top: 1rem;
                    padding: 0 1.5rem;
                    text-align: right;
                    .stock-text{
                        font-size: 1rem;
                        color: #6c757d;
                    }
                }
                .price-container{
                    background-color: #ccc;
                    padding: 0.3rem 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .price{
                        font-size: 0.9rem;
                        @include xs{
                            font-size: 1.3rem;
                        }
                        @include sm{
                            font-size: 2rem;
                        }
                    }
        
                    .price-line{
                        font-size: 0.9rem;
                        @include xs{
                            font-size: 1.3rem;
                        }
                        @include sm{
                            font-size: 2rem;
                        }
                        text-decoration: line-through; 
                    }
                    
                    .discount{
                        margin-left: 1rem;
                        font-size: 0.9rem;
                        @include xs{
                            font-size: 1.3rem;
                        }
                        @include sm{
                            font-size: 2rem;
                        }
                        color: red;
                    }
                }
            }
        }
    }
}
