@import "../../../../static/root";

.detail-wrapper{
    min-height: 82vh;

    text-decoration: none;
    .back-button{
        margin-top: 2rem;
        @include button(black, transparent, transparent);
        padding: 0 2rem;
        .image-button{
            width: 30px;
            height: 30px;
        }
    }
}
