@import "../../../static/root";

.menulist-container{
    margin-top: 2rem;
    @include xs{
        padding: 0 1.5em;
    }
    @include sm{
        padding: 0 2rem;
    }
    @include md{
        padding: 0 4rem;
    }
    @include lg{
        padding: 1rem;
    }
    @include xl{
        padding: 0 2rem;
    }
    @include xxl{
        padding: 0 1.5rem;
    }
    @include xxxl{
        padding: 0 4rem;
    }

    .menulist-title{
        text-align: center;
    }
    .menulist-list{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
        align-self: center;
        text-align: center;
        @include xs{
            grid-template-columns: repeat(1,1fr);
        }
        @include sm{
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
        }
        @include lg{
            grid-template-columns: repeat(3,1fr);
            gap: 30px;
        }
        @include xl{
            grid-template-columns: repeat(3,1fr);
        }
        @include xxl{
            gap: 50px;
            grid-template-columns: repeat(4,1fr);
        }
    }
}    