@import "../../../../static/root";

.menuitem-container{
    border-radius: 1rem;
    box-shadow: 2px 0px 2px 2px rgba(0,0,0,.2);
    border: 2px solid black;
    position: relative;
    display: block;
    .menuitem-link{
        display: flex;
        text-decoration: none;
        color: black;
        .image{
            height: 100px;
            width: 40%;
            border-top-left-radius: 0.3rem;
            border-bottom-left-radius: 0.4rem;
            align-self: center;
            @include sm{
                height: 120px;
                width: 50%
            }
            @include md{
                height: 150px;
                width: 50%
            }
        }
    
        .menuitem-detail{
            padding-top: 0.4rem;
            border-radius: 0rem 1rem 1rem 0rem;
            background-color: #eae0d5;
            width:100%;
            @include sm{
                width:200px;
            }
            @include md{
                width:300px;
            }
            .name{
                font-size: 1rem;
                padding: 0 0.3rem;
                height: 80px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;
                @include sm{
                    font-size: 0.9rem;
                    height: 100px;
                    margin-top: 0rem;
                }
                @include md{
                    font-size: 0.9rem;
                    height: 75px;
                }
            }
            .menuitem-price{
                display: flex;
                justify-content: center;
                .price{
                    font-size: 1.3rem;
                    @include xs{
                        font-size: 1.3rem;
                    }
                    @include sm{
                        font-size: 1.2rem;
                    }
                    @include md{
                        font-size: 1.3rem;
                    }
                }
    
                .price-line{
                    font-size: 1.3rem;
                    @include xs{
                        font-size: 1.3rem;
                    }
                    @include sm{
                        font-size: 1.2rem;
                    }
                    @include md{
                        font-size: 1.3rem;
                    }
                    text-decoration: line-through; 
                }
                
                .discount{
                    font-size: 1.3rem;
                    margin-left: 0.5rem;
                    @include xs{
                        font-size: 1.3rem;
                    }
                    @include sm{
                        font-size: 1.2rem;
                    }
                    @include md{
                        font-size: 1.3rem;
                    }
                    color: red;
                }
            }
    
            .menuitem-stock{
                padding: 0 0.5rem;
                display: flex;
                justify-content: space-between;
    
                .text{
                    color: #6c757d;
                    @include xs{
                        font-size: 0.8rem;
                    }
                    @include sm{
                        font-size: 0.7rem;
                    }
                }
            }
        }   
    }
}