@import "../../../static/root";

.timer-container{
    background-color: #ffd60a;
    position: absolute;
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    top: 0;
    padding: 0.3rem 0;
    .text{
        font-size: 1rem;
        margin: 0;
        @include xs{
            font-size: 0.8rem;
        }
        @include sm{
            font-size: 1.2rem;
        }
    }
}